body {
  font-family: "Space Mono", monospace;
}

.grid-item1 p {
  margin-bottom: 50px;
  font-weight: bold;
}

.grid-item2 img {
  width: 80%;
}

.grid-item3 h1,
.grid-item3 p {
  color: #263238;
  margin-bottom: 50px;
}

.grid-item3 h1 {
  margin-top: 0px;
}

.grid-item3 a {
  background-color: #263238;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
}

.grid-item4 p {
  color: #263238;
  margin-top: 50px;
}
